<%- include("includes/head.ejs")%>
    <link rel="stylesheet" href="/css/main.css">
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>
        <h1>Some Error Occured</h1>
        <p>try again</p>
        <%- include("includes/end.ejs") %>